<ion-header class="bar-assertive side-header" text-center>

  <div class="foto-content-circle">
    <ion-icon class="profile-foto" name="person"  md="md-person"></ion-icon>
  </div>

  <div class="profile-info" *ngIf="revendedor">
    <p>{{revendedor.user.nome}}</p>
    <div>
      <ion-icon name="bascket"></ion-icon>
    </div>
    <p>{{'Revendedor'}}</p>



  </div>

</ion-header>



<ion-content padding>

  <ion-card *ngIf="revendedores">
    <ion-card-header>
      <ion-card-title color="secondary">CONTACTS</ion-card-title>
    </ion-card-header>

    <ion-card-content>

      <ion-list>
        <ion-item-group>
          <button ion-item *ngFor="let telefone of revendedor.telefones">
            <h2>Telefone: </h2>
            {{' ' + telefone.designacao}}
          </button>
        </ion-item-group>
      </ion-list>

    </ion-card-content>
  </ion-card>



</ion-content>


<ion-footer style="position: fixed">
  <ion-toolbar style="background-color: #F4F4F4">

    <ion-buttons>
      <button ion-button color="danger" (click)="voltar()">
        Voltar
      </button>
    </ion-buttons>

  </ion-toolbar>
</ion-footer>
