
<ion-header #headerMercado>

  <ion-navbar color="secondary" *ngIf="!showSearch">

    <!--<ion-buttons >-->
    <button ion-button icon-only menuToggle start >
      <ion-icon name="menu"></ion-icon>
    </button>
    <!--</ion-buttons>-->

    <ion-title>{{'Mercados (' + (mercados ? mercados.length : 0) + ')'}}</ion-title>

    <ion-buttons end>
      <button ion-button icon-only end *ngIf="!showSearch" (click)="changeShowSearch()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>



  </ion-navbar>

  <ion-navbar *ngIf="showSearch" color="secondary">
    <ion-searchbar
      [showCancelButton]="true"
      [animated]="true"
      [placeholder]="'Mercados (' + (mercados ? mercados.length : 0) + ')'"
      (ionBlur)="onBlur()"
      (ionInput)="onInput($event)">
    </ion-searchbar>
  </ion-navbar>

</ion-header>


<ion-content style="background-color: #eee" hide-header [header]="headerMercado" >

  <div *ngIf="!mercados?.length > 0" class="loader">
    <ion-spinner color="secondary"></ion-spinner>
  </div>

  <ion-card  *ngFor="let mercado of mercados" (click)="showMercado(mercado)">

    <ion-item>
      <ion-avatar item-start>
        <img color="secondary" src="../../assets/imgs/commerce.svg" width="50px"/>
      </ion-avatar>
      <div>
        <h2 ion-text style="margin-bottom: 5px">Mercado {{mercado.designacao}}</h2>
          <p>
            <ion-icon color="secondary" icon-start name="pin"></ion-icon>
            <span>{{mercado.distrito.designacao }}, {{mercado.distrito.provincia.designacao}}</span>
          </p>

        <p style="margin-bottom: 5px">
          <ion-icon color="secondary" icon-start name="person"></ion-icon>
          <span ion-text  class="item-bold"> {{mercado.revendedores.length}} revendedores</span>
        </p>
      </div>
    </ion-item>

  </ion-card>


</ion-content>
