
<ion-header>

  <ion-navbar color="secondary">
    <ion-title>Detalhes da Procura</ion-title>
  </ion-navbar>

</ion-header>


<ion-content style="background-color: #eee" no-padding no-margin>

  <ion-card *ngIf="procura">
      <img src="{{urlApi.getSimpleURL() + procura['produto']['default_photo']}}" alt="imagemProduto"/>


    <ion-fab right top>
      <button ion-fab color="secondary">
        <ion-icon name="call"></ion-icon>
      </button>
    </ion-fab>

    <ion-card-content id="content">

      <h1 text-uppercase text-center class="produto">{{procura['produto']['designacao']}}</h1>

      <ion-item>
        <ion-icon color="secondary" name="pint" item-start large></ion-icon>
        <h2>Quantidade</h2>
        <p>{{procura['quantidade']}} {{procura['unidades_medida']['designacao']}}s</p>
      </ion-item>

      <ion-item>
        <ion-icon color="secondary" name="pin" item-start large></ion-icon>
        <h2>Localização</h2>
        <p>{{procura['distrito']['designacao']}} -  {{procura['distrito']['provincia']['designacao']}}</p>
      </ion-item>

      <ion-item (click)="goPerfilRevendedor(procura['revendedore'], procura['distrito'])">
        <ion-icon color="secondary" name="person" item-start large></ion-icon>
        <h2>Revendedor</h2>
        <p>{{procura['revendedore']['user']['nome']}}</p>
      </ion-item>

      <ion-item>
        <ion-icon color="secondary" name="calendar" item-start large></ion-icon>
        <h2>Data da Requisição</h2>
        <p>{{procura['created_at'] | date: 'dd/MM/yyyy'}}</p>
      </ion-item>

      </ion-card-content>
  </ion-card>

  <!--<ion-card>-->
    <!--<ion-card-header>-->
      <!--<ion-card-title>Proutos Semelhantes</ion-card-title>-->
    <!--</ion-card-header>-->

    <!--<ion-card-content>-->

    <!--</ion-card-content>-->
  <!--</ion-card>-->


  <ion-grid id="procuras" >
    <ion-row>
      <ion-col col-4 col-sm-4 col-md-4 col-lg-3 col-xl-3 *ngFor="let procura of procurasSemelhantes; index as i">
        <ion-card *ngIf="i < 3" margin-top id="procura" (click)="goDetalhesProcura(procura)">

          <ion-card-header style="margin-bottom: 0">
            <img alt="procura" src="{{urlApi.getSimpleURL() + procura['produto']['default_photo']}}">
          </ion-card-header>

          <div id="procura-texto">
            <h2 text-center>{{procura['produto']['designacao']}}</h2>
            <h3 text-center>{{procura['quantidade']}} {{procura['unidades_medida']['abreviatura']}}</h3>
          </div>

        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>



</ion-content>
