page-detalhes-procura {



  ion-card-content#content{
    //background-color: color($colors, secondary);


    h1{
      color: color($colors, secondary);
    }

     h2{
      color: #000;
      margin-top: 5px;
    }
  }







}
