page-detalhes-procura {



  ion-card-content#content{

    h1{
      color: color($colors, secondary);
    }

     h2{
      color: #000;
      margin-top: 5px;
    }
  }

  ion-grid#procuras{

    img{
      height: 40px;
      width: 40px;
      border-radius: 50%;
      margin-left: auto;
      margin-right: auto;
    }

    div#procura-texto {

      background-color: color($colors, secondary);
      padding-top: 5px;
      padding-bottom: 5px;
      margin-bottom: 0;
      margin-top: 0;

      h2{
        color: white;
        text-align: center;
        font-size: 12pt;
      }

      h3 {
        color: white;
        text-align: center;
      }
    }
  }

  ion-spinner * {
    width: 50px;
    height: 50px;
    stroke: #61d295;
    fill: #fff;
  }

  .loader{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }





}
