<ion-header>
  <ion-navbar color="secondary" *ngIf="!showSearch">
    <ion-title>
      Produtos Produzidos

    </ion-title>

    <ion-buttons end>
      <button ion-button icon-only end *ngIf="!showSearch" (click)="changeShowSearch()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>


  <ion-navbar *ngIf="showSearch" color="secondary">
    <ion-searchbar
      [showCancelButton]="true"
      [animated]="true"
      [placeholder]="'Produtos (' + (produtos ? produtos.length : 0) + ')'"
      (ionBlur)="onBlur()"
      (keyup)="onInput($event)">
    </ion-searchbar>
  </ion-navbar>

</ion-header>



<ion-content style="background: #eee;">

  <h4 ion-text text-center style="color: #61d295;">Selecione os produtos que produz</h4>

  <ion-grid>
    <ion-row>
      <ion-col col-6 *ngFor="let produto of produtos">
        <ion-card text-center (click)="check('ck_'+produto['id'])">
          <ion-checkbox *ngIf="isChecked('ck_'+produto['id'])" (click)="check('ck_'+produto['id'])" id="ck_{{produto['id']}}" [checked]="isChecked('ck_'+produto['id'])" class="marcador"></ion-checkbox>
          <div>
            <img alt="imagem-{{produto['designacao']}}" src="{{urlApi?.getSimpleURL() + produto['default_photo']}}"/>
            <h3 class="produto">{{produto['designacao']}}</h3>
            <h5 class="categoria">{{produto['categoria']['designacao']}}</h5>
          </div>
        </ion-card>

      </ion-col>


    </ion-row>

  </ion-grid>

</ion-content>


<ion-footer style="background: white">
  <button [disabled]="chekboxIds.length == 0" ion-button block color="primary" (click)="onClickProximo()">Finalizar <span *ngIf="chekboxIds.length > 0">({{chekboxIds.length}})</span></button>
</ion-footer>
