
<ion-content style="background: #eee;">


  <ion-grid>
    <ion-row>
      <ion-col col-6 *ngFor="let produto of produtos">
        <ion-card text-center (click)="check('ck_'+produto['id'])">
          <ion-checkbox *ngIf="isChecked('ck_'+produto['id'])" (click)="check('ck_'+produto['id'])" id="ck_{{produto['id']}}" [checked]="isChecked('ck_'+produto['id'])" class="marcador"></ion-checkbox>
          <div>
            <img alt="imagem-{{produto['designacao']}}" src="{{getIMG(produto['categoria']['designacao'])}}"/>
            <h3 class="produto">{{produto['designacao']}}</h3>
            <h5 class="categoria">{{produto['categoria']['designacao']}}</h5>
          </div>
        </ion-card>

      </ion-col>


    </ion-row>

  </ion-grid>




</ion-content>


<ion-footer style="background: white">
  <button ion-button block color="secondary">Finalizar</button>
</ion-footer>
