page-escolher-produto {

    ion-card{
      height: 100px;
      text-align: center;
      position: relative;

      img{
        width: 35px;
        height: 35px;
        margin-top: 15%;
        margin-right: auto;
        margin-left: auto;
      }

      h3.produto{
        font-size: 12pt;
        color: #61d295;
        text-transform: uppercase;
      }

      h5.categoria{
        color: #888;
        font-size: 8pt;
      }

      ion-checkbox.marcador{
        position: absolute;
        left: 120px;
        top: 5px;
      }


    }
}
