page-escolher-produto {

  ion-spinner * {
    width: 50px;
    height: 50px;
    stroke: #61d295;
    fill: #fff;
  }

  .loader{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }



  ion-card{
      height: 100px;
      text-align: center;
      position: relative;

      img{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-top: 10%;
        margin-right: auto;
        margin-left: auto;
      }

      h3.produto{
        font-size: 12pt;
        color: #61d295;
        text-transform: uppercase;
      }

      h5.categoria{
        color: #888;
        font-size: 8pt;
      }

      ion-checkbox.marcador{
        position: absolute;
        left: 120px;
        top: 5px;
      }


    }
}
