
<ion-header>

  <ion-navbar color="secondary">
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Produtos Requsitados</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>



  <div *ngIf="produtosRequisitados.length == 0" class="message-empty" text-center>
    <span>Ainda nao existem produtos requisitados</span>
  </div>


  <ion-card *ngFor="let requisicao of produtosRequisitados" (click)="disponibilizar(requisicao)">
    <ion-card-content >

      <ion-grid>
        <ion-row>
          <ion-col col-5 class="esquerda" text-center>
              <div class="ion-icon-content">
                <ion-icon name="leaf"></ion-icon>
              </div>
                <p class="nome-produto">{{requisicao.procura.produto.designacao}}</p>
                <p class="data" color="white">{{requisicao.procura.data_formatada}}</p>
          </ion-col>

          <ion-col col-7 class="direita">
            <div class="info">
              <div class="nome-produtor">
                <ion-icon name="person" icon-start color="blue"></ion-icon>
                <span>{{requisicao.revendedor.user.nome}}</span>
              </div>

              <div class="nome-mercado">
                <ion-icon name="basket" color="blue" icon-start></ion-icon>
                <span>{{requisicao.revendedor.mercado.designacao}}</span>
              </div>

                <p class="quantidade">{{requisicao.procura.quantidade}}  {{requisicao.procura.unidade_medida.designacao}}</p>

            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>




</ion-content>
