
<ion-header #headerElement>

  <ion-navbar>
      <ion-searchbar
        [showCancelButton]="true"
        (ionInput)="onInput($event)"
        (ionCancel)="onCancel($event)">
      </ion-searchbar>
  </ion-navbar>

</ion-header>


<ion-content no-margin no-padding padding-top style="background-color: #eee" hide-header [header]="headerElement">


  <ion-fab bottom right color="secondary">
    <button (click)="goToRegistarOfertas()"  ion-fab><ion-icon name="add"></ion-icon></button>
  </ion-fab>

  <div *ngIf="publicacoes.length == 0" class="loader">
      <ion-spinner></ion-spinner>
  </div>



  <div class="publicacoes" *ngIf="publicacoes.length != 0">
    <ion-card class="publicacao animated fadeIn" *ngFor="let publicacao of publicacoes" >
      <div class="imagem">
        <img src="{{'http://localhost:8000/'+ publicacao['produto']['default_photo']}}"/>
        <!--<img src="{{publicacao['produto']['default_photo']}}"/>-->
        <h1 class="preco">{{publicacao['preco'] +' '}} MZN</h1>
      </div>

      <div class="adicional-info">
        <p class="titulo">{{publicacao['designacao']}}</p>
        <p class="local">{{(publicacao['distrito']['provincia']['designacao'])}} - {{'ontem'}}</p>
      </div>
    </ion-card>
  </div>



</ion-content>
