
<ion-header #headerElement>

  <ion-navbar>
      <ion-searchbar
        [showCancelButton]="true"
        (ionInput)="onInput($event)"
        (ionCancel)="onCancel($event)">
      </ion-searchbar>
  </ion-navbar>

</ion-header>


<ion-content no-margin no-padding padding-top style="background-color: #eee" hide-header [header]="headerElement">


  <ion-fab bottom right color="secondary">
    <button (click)="goToRegistarOfertas()"  ion-fab><ion-icon name="add"></ion-icon></button>
  </ion-fab>

  <div *ngIf="!publicacoes" class="loader">
      <ion-spinner></ion-spinner>
  </div>



  <div class="publicacoes" *ngIf="publicacoes">
    <ion-card class="publicacao" *ngFor="let publicacao of publicacoes" (click)="viewPublicacao(publicacao)">
      <div class="imagem">
        <div class="opacidade">
          <h1 class="preco">{{publicacao['preco'] +'.00 ' }} MT </h1>
          <h2 class="quantidade">{{publicacao['quantidade'] +' ' + publicacao['unidades_medida']['designacao'] + 's'}} </h2>
        </div>
        <img src="{{'http://localhost:8000/'+ publicacao['produto']['default_photo']}}"/>
        <!--<img src="{{publicacao['produto']['default_photo']}}"/>-->
      </div>


      <div class="adicional-info">
        <p class="titulo">{{publicacao['designacao'] == '' || publicacao['designacao'] == null? 'Vende-se ' +publicacao['produto']['designacao'] : publicacao['designacao']  }}</p>
        <p class="local">{{(publicacao['distrito']['provincia']['designacao'])}} - {{publicacao['created_at']}}</p>
      </div>

    </ion-card>
  </div>



</ion-content>
