
<ion-header>

  <ion-navbar color="secondary">
    <ion-title>Produtores ({{ produtores?.length }})</ion-title>
  </ion-navbar>

</ion-header>


<ion-content style="background-color: #eee">

  <ion-searchbar
    [showCancelButton]="true"
    [animated]="true"
    (ionInput)="onInput($event)">
  </ion-searchbar>


  <div class="loader" *ngIf="loader">
    <ion-spinner color="secondary"></ion-spinner>
  </div>



  <div *ngIf="!loader">
    <ion-card *ngFor="let produtor of produtores" (click)="goToProfile(produtor.id)">
      <ion-item>
        <ion-avatar item-start>
          <img alt="produto" src="../../assets/imgs/farmer.jpeg"/>
        </ion-avatar>

        <h2>{{ produtor['user']['nome']}}</h2>
        <p ion-text>{{produtor['distrito']['designacao']}}, {{ produtor['distrito']['provincia']['designacao']}}</p>

        <button ion-button item-right color="secondary" (click)="goToProfile(produtor.id)"><ion-icon item-start name="eye"></ion-icon>ver</button>
      </ion-item>

    </ion-card>
  </div>

</ion-content>
