page-view-publicacao {
    button#back-button{
      position: absolute;
      top: 2%;
      left: 5%;
    }

  button#edit-button{
    position: absolute;
    top: 2%;
    right: 5%;
  }

  img.img-prduto{
    height: 100%;
    width: 100%;
  }


  ion-grid {

    div.div-card{
      background-color: white;
      padding: 2%;
    }

    div#content-header{
      padding-left: 4%;
    }

    p.descricao-title{
      color: color($colors, secondary);
      font-size: 12pt;
      margin-left: 3%;
      font-weight: 500;
    }


    p.descricao{
      margin-left: 2%;
      margin-right: 2%;
    }


    p.produtor-nome{
      color: #0a0a0a;
      font-size: 13pt;
      font-weight: 500;
    }

    p.titulo{
      font-size: 12pt;
      font-weight: bold;
      color: #444444;
    }

    p.data{
      color: #888888;
    }


    p.quantidade {
      color: #343434;
      margin-top: 0;
      font-size: 12pt;
    }

    p.quantidade{
      margin-top: 0;
    }










  }


}
