
<ion-header>

  <ion-navbar>
    <ion-title>Selecionar Produto</ion-title>
  </ion-navbar>

</ion-header>


<ion-content style="background: #eee" >

  <!--<ion-list  padding style="padding-top: 0">-->
    <!--<ion-item-divider color="secondary">-->
      <!--Outros Produtos-->
    <!--</ion-item-divider>-->
    <!--<div *ngFor="let produto of produtos;  let indice = index" (click)="selecionarProduto(produto)">-->
      <!--<ion-item *ngIf="indice >= produtosProduzidos">-->
        <!--<ion-row>-->
          <!--<div col-4>-->
            <!--<img  alt="img_produto" width="70" height="70" src="{{urlProvider.getSimpleURL()+produto['default_photo']}}"/>-->
          <!--</div>-->

          <!--<div col-8>-->
            <!--<span>{{produto['designacao']}}</span>-->
            <!--<p>{{produto['categoria']['designacao']}}</p>-->
          <!--</div>-->

        <!--</ion-row>-->

      <!--</ion-item>-->
    <!--</div>-->
  <!--</ion-list>-->


</ion-content>
