// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


$fa-font-path: "../assets/fonts" !default;
@import "font-awesome";
i[class^="fa-"], ion-icon[class^="fa-"] {
  font-family: "FontAwesome" !important;
}


.card:hover {
  -webkit-box-shadow: 5px 5px 10px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    5px 5px 10px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         5px 5px 10px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  //box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2);
}


.tabs-md .tab-button[aria-selected=true] .tab-button-icon {
  color: #61d295 !important;
}

.tabs-ios .tab-button[aria-selected=true] .tab-button-icon {
  color: #61d295 !important;
}

.tabs-md .tab-button[aria-selected=true] .tab-button-text {
  color: #61d295 !important;
}

.tabs-ios .tab-button[aria-selected=true] .tab-button-text {
  color: #61d295 !important;
}

ion-tabs.hidden div.tabbar {
  display: none
}


ion-menu .side-content {
  background-image: linear-gradient(to right top, #03a161, #29ad6e, #3eb97b, #50c688, #61d295);
}

ion-menu {

  ion-header.side-header {
    height: 30%;
    background-color: color($colors, secondary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  ion-header.side-header div.foto-content-circle {
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .avatar {
      margin: auto;
      border-radius: 50%;

    }

  }

  div.profile-info {
    margin-top: 20px;
  }


  p {
    margin: 0px;
    color: #fff;
    font-size: 12pt;
  }


  ion-content.side-content {
    height: 100%;

    ion-icon {
      color: color($colors, light);
    }

    button {
      color: white;
      background-color: rgba(0, 0, 0, .0);
    }


    ion-list {
      margin-top: 20px;

      button {
        margin-top: 10px;
      }
    }

  }


}
