
<ion-content  text-center style="background: #61d295;">


  <div id="principal" center>

    <div id="titulo">
      <img  alt="localizacao" src="../../assets/imgs/map.svg">
      <h3 style="color: white">Qual é a sua Localizaçao?</h3>
    </div>


    <form [formGroup]="formGroup">
      <ion-list>
        <ion-item color="secondary">
          <ion-label floating>Província</ion-label>
          <ion-select name="provincia" (click)="onClickProvincia()" formControlName="provincia">
            <ion-option *ngFor="let provincia of provincias"  (ionSelect)="onSelectProvincias(provincia)">{{provincia['designacao']}}</ion-option>
          </ion-select>
        </ion-item>

        <ion-item color="secondary" *ngIf="start > 0">
          <ion-label floating>Distrito</ion-label>
          <ion-select name="distrito" formControlName="distrito">
            <ion-option *ngFor="let distrito of distritos" (ionSelect)="onSelectDistritos(distrito)">{{distrito['designacao']}}</ion-option>
          </ion-select>
        </ion-item>

        <ion-row margin-top>
          <ion-col text-center class="butao-entrar">
            <button ion-button  color="blue" (click)="onNext()" [disabled]="!validarForm()">Proximo</button>
          </ion-col>
        </ion-row>
      </ion-list>
    </form>

  </div>



</ion-content>
