
<ion-header>

  <ion-navbar color="secondary">
    <ion-title>Perfil Revendedor</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-grid no-margin no-padding *ngIf="revendedor && distrito">
    <ion-row align-items-center class="profile-details" >
      <ion-col col-lg-12 align-self-center text-center="" margin-top="">
        <ion-avatar>

          <ion-avatar item-center>
            <img class="avatar" src="../../assets/imgs/farmer.jpeg" width="150px" height="150px">
          </ion-avatar>
          <h5 ion-text color="light" text-center>@{{revendedor.user.nome}}</h5>
          <p ion-text  text-center color="light"> <ion-icon name="pin"></ion-icon> {{distrito.designacao}}, {{distrito.provincia.designacao}}</p>
          <p ion-text  text-center  color="light">{{revendedor.procuras.length}} Requisições</p>
        </ion-avatar>

      </ion-col>

    </ion-row>

    <ion-row>
      <ion-col col-lg-12>
        <ion-card>
          <ion-card-header color="">
            <h3 style="font-size: 13pt; color: #61d295">Interesses</h3>
          </ion-card-header>
          <ion-card-content color="light" text-center>
            <ion-badge *ngFor="let interesse of revendedor.interesses" style="margin-right: 2px">#{{ interesse.designacao }} </ion-badge>
          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-lg-12>
        <ion-card>
          <ion-card-header color="">
            <h3 style="font-size: 13pt; color: #61d295">Requisições</h3>
          </ion-card-header>
          <ion-card-content color="light" text-justify>
            <ion-list>
              <button ion-item *ngFor="let procura of revendedor.procuras">
                <ion-avatar item-start>
                  <img alt="produto" src="{{ urlProvider.getSimpleURL() + procura.produto.default_photo}}"/>
                </ion-avatar>
                <span>{{procura.produto.designacao}}</span>
                <p ion-text>{{procura.created_at | date:'dd/MM/yyyy' }}</p>
                <span item-end>{{procura.quantidade}} {{procura.unidades_medida.abreviatura}}</span>
              </button>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>


  </ion-grid>


  <ion-fab right bottom>
    <button ion-fab color="primary" (click)="showAlert()"><ion-icon name="call"></ion-icon></button>
  </ion-fab>



</ion-content>
