
<ion-header>

  <ion-navbar color="secondary">
    <ion-title>Pre-visualização</ion-title>
  </ion-navbar>

</ion-header>


<ion-content style="background-color: #e7e7e7" padding-bottom>


  <div class="content" margin-top>
    <ion-card class="publicacao" *ngIf="publicacao">
      <div class="imagem">

        <div *ngIf="publicacao['imagens'].length == 0">
          <img alt="preview-publicacao" src="{{'http://localhost:8000/'+ publicacao['produtos_id']['default_photo']}}"/>
        </div>

        <div *ngIf="publicacao['imagens'].length > 0">
          <img alt="preview-publicacao" src=../../assets/imgs/logo/logo3.png""/>
        </div>
        <h1 class="preco">{{publicacao['preco'] +' '}} MZN</h1>
      </div>

      <div class="adicional-info">
        <p class="titulo" *ngIf="publicacao['designacao']">{{publicacao['designacao']}}</p>
        <p class="titulo" *ngIf="!publicacao['designacao']">{{'Vende-se ' + publicacao['produtos_id']['designacao']}}</p>
        <p class="local">{{publicacao['distritos_id']['provincia']['designacao']}} - {{publicacao['distritos_id']['designacao']}} - {{'Agora'}}</p>
      </div>
    </ion-card>
  </div>

</ion-content>

<ion-footer padding-left>
    <button ion-button  color="danger" full outline (click)="voltar()">Voltar</button>
    <button ion-button color="secondary" full  (click)="publicar()">Publicar</button>
</ion-footer>
