
<ion-header>

  <ion-navbar color="secondary" >
    <ion-title>Publicar Produtos</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <form [formGroup]="formGroup">

    <ion-item class="session-images-upload" *ngIf="imagens.length > 0">
      <ion-grid class="img-uploads">
        <ion-row class="image-row">
          nativo
          <div col-4  *ngFor="let imagem of imagens" class="imagem">
            <img  alt="imagem-adicionada"  width="65" height="65" [src]="imagem" (click)="deleteImage(imagem)" />
          </div>

          <button *ngIf="imagens.length <= 4 && isNativo" style="margin: auto" block small outline col-3 ion-button  color="secondary" (click)="showUploadOptions()"><ion-icon name="add"></ion-icon></button>
          <button *ngIf="imagens.length <= 4 && !isNativo" style="margin: auto" block small outline col-3 ion-button  color="secondary" (click)="triggerFileInputClick()"><ion-icon name="add"></ion-icon></button>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item class="imagens-session" *ngIf="imagens.length == 0 && isNativo" (click)="showUploadOptions()">
        <div class="img-icon">
            <img alt="img-camera-adicionar" src="../../assets/icon/images.png"/>
          <h3 text-center>Adicionar Imagens (Max. 5)</h3>
        </div>
    </ion-item>

    <ion-item class="imagens-session" *ngIf="imagens.length == 0 && !isNativo" (click)="triggerFileInputClick()">
      <div class="img-icon">
        <img alt="img-camera-adicionar" src="../../assets/icon/images.png"/>
        <input type="file"  #fileInput style="visibility: hidden; height: 0px" name="files[]" (change)="processWebImage($event)" />
        <h3 text-center>Adicionar Imagens (Max. 5)</h3>
      </div>
    </ion-item>


    <ion-row>
      <ion-col col-1>
        <ion-icon color="{{publicacao.produtos_id ? 'secondary' : ''}}" class="icon-input" name="checkmark-circle"></ion-icon>
      </ion-col>

      <ion-item col-11 (click)="openProdutosSelect()">
        <ion-label floating="">Produto</ion-label>
        <ion-input type="text" [(ngModel)]="publicacao.produtos_id['designacao']" formControlName="produto_id" name="produtos_id" #produtos_id></ion-input>
      </ion-item>
    </ion-row>

    <ion-row style="margin-top: 10px">
      <ion-col col-1>
        <ion-icon color="{{(formGroup.get('quantidade').valid && formGroup.get('unidade_medida_id').valid) ? 'secondary' : ''}}" class="icon-input" name="checkmark-circle"></ion-icon>
      </ion-col>

      <ion-item col-5>
        <ion-label floating="">Quantidade</ion-label>
        <ion-input type="number" [(ngModel)]="publicacao.quantidade" formControlName="quantidade" name="quantidade"></ion-input>
      </ion-item>

      <ion-item col-6>
        <ion-label floating="">Unidade</ion-label>
        <ion-select [(ngModel)]="publicacao.unidades_medidas_id" #select (ionChange)="change(select.value)" formControlName="unidade_medida_id" name="unidades_medidas_id">
          <ion-option *ngFor="let unidade of unidadesMedida" [value]="unidade" (select)="change($event)">{{unidade['designacao']}} ({{unidade['abreviatura']}})</ion-option>
        </ion-select>
      </ion-item>
    </ion-row>

    <ion-row style="margin-top: 10px">
      <ion-col col-1>
        <ion-icon [color]="formGroup.get('preco').valid ? 'secondary' : ''" class="icon-input" name="checkmark-circle"></ion-icon>
      </ion-col>

      <ion-item col-5>
        <ion-label floating>Preço</ion-label>
        <ion-input type="number" [(ngModel)]="publicacao.preco" formControlName="preco" name="preco"></ion-input>
      </ion-item>

      <ion-item col-6 id="preco-unidade">

        <ion-label floating>Tipo de Preço</ion-label>
        <ion-select [(ngModel)]="publicacao.is_preco_unidade" formControlName="is_preco_unidade" name="is_preco_unidade">
          <ion-option  [value]="false">Preço Total</ion-option>
          <ion-option  [value]="true">Preço por {{unidadeMedidas.abreviatura}}</ion-option>
        </ion-select>
      </ion-item>

    </ion-row>

    <!--<ion-row *ngIf="false">-->
      <!--<ion-col col-1>-->
        <!--<ion-icon [color]="formGroup.get('descricao').valid ? 'secondary' : ''" class="icon-input" name="checkmark-circle"></ion-icon>-->
      <!--</ion-col>-->

      <!--<ion-item col-11>-->
        <!--<ion-label floating>Descrição </ion-label>-->
        <!--<ion-textarea type="text" [(ngModel)]="publicacao.descricao" formControlName="descricao" name="descricao"></ion-textarea>-->
      <!--</ion-item>-->
    <!--</ion-row>-->

    <!--<ion-row *ngIf="false">-->
      <!--<ion-col col-1>-->
        <!--<ion-icon [color]="formGroup.get('titulo').valid ? 'secondary' : ''" class="icon-input" name="checkmark-circle"></ion-icon>-->
      <!--</ion-col>-->

      <!--<ion-item col-11>-->
        <!--<ion-label floating="">Titulo da Publicação (Opcional)</ion-label>-->
        <!--<ion-input [(ngModel)]="publicacao.designacao" formControlName="titulo" name="designacao" type="text"></ion-input>-->
      <!--</ion-item>-->
    <!--</ion-row>-->

  </form>

</ion-content>


<ion-footer style="background-color: #fff">
  <ion-toolbar style="background-color: #fff">
    <ion-row>
      <button ion-button color="primary" [disabled]="!formGroup.valid" block outline (click)="preview()">Pré-Visualizar</button>
      <button ion-button color="secondary" full [disabled]="!formGroup.valid" (click)="publicar()">Publicar</button>
    </ion-row>
  </ion-toolbar>
</ion-footer>
