



<ion-content (ionScroll)="onScroll($event)" (ionScrollStart)="onScrollStart()" (ionScrollEnd)="onScrollEnd()">

  <div *ngIf="!mercado" class="loader">
    <ion-spinner color="secondary"></ion-spinner>
  </div>

  <div *ngIf="mercado" id="header" color="primary" class="produto-view" text-center>

    <div class="ion-icon-content">
      <ion-icon name="cart"></ion-icon>
    </div>
    <p style="font-weight: 600; size: 18pt" class="nome-produto">Mercado {{mercado.designacao}}</p>
    <div icon-start>
      <ion-icon name="pin" small color="white"></ion-icon>
      <span style="color: white; size: 15pt" class="nome-produto">  {{mercado.distrito.provincia.designacao}}</span>
    </div>

    <div icon-start>
      <ion-icon name="person" small color="white"></ion-icon>
      <span style="color: white; size: 15pt" class="nome-produto">  {{mercado.revendedores.length}} revendedores</span>
    </div>

    <div #divElementTabs>
      <ion-segment margin-top #ion_segment [(ngModel)]="titulos" (click)="segmentChanged()" color="white">
        <ion-segment-button icon-left value="Revendedores">
          <ion-icon name="person"></ion-icon>
          <div style="margin-top: -20px !important; ">
            Revendedores
          </div>
        </ion-segment-button>

        <ion-segment-button value="Produtos" (click)="getProdutosMercado()">
          <ion-icon name="leaf"></ion-icon>
          <div style="margin-top: -20px !important; ">
            Produtos
          </div>

        </ion-segment-button>
      </ion-segment>
    </div>

  </div>

  <div *ngIf="mercado" style="background-color: #eee">

    <div [ngSwitch]="titulos" #divElmentOptions>

      <div *ngSwitchCase="'Revendedores'">

        <ion-card *ngFor="let revendedor of mercado['revendedores']" (click)="goToRevendedor(revendedor, mercado.distrito)">

          <ion-item>
            <ion-avatar item-start>
              <img width="50px" height="50px" alt="imgp-profile" src="../../assets/imgs/farmer.jpeg"/>
              <!--<img width="50px" height="50px" alt="imgp-profile" src="{{revendedor['user']['foto']}}"/>-->
            </ion-avatar>

            <h2>{{revendedor['user']['nome']}}</h2>
            <p><ion-icon name="pin"></ion-icon>  {{mercado.distrito.designacao}}, {{mercado.distrito.provincia.designacao}}</p>
            <p><ion-icon name="call"></ion-icon>  {{revendedor['user']['username']}}</p>
            <p ion-text color="secondary">
              <span *ngFor="let produto of revendedor['interesses']">#{{produto['designacao']}} </span>

            </p>
          </ion-item>


          <button ion-button  icon-start round small float-right margin >
            <ion-icon icon-start size="large" name="call"></ion-icon> <span>ligar</span>
          </button>

        </ion-card>
      </div>

      <div *ngSwitchCase="'Produtos'" id="produtos">


        <ion-card (click)="goToProdutosMaisProcurados()">

          <div>
            <ion-card-title>
              Produtos Mais Procurados
            </ion-card-title>

            <span>({{ produtosMaisProcurados?.length}})</span>
          </div>

        </ion-card>

        <ion-card (click)="goToProdutosDoMercado()">


         <div>
           <ion-card-title>
             Todos Produtos
           </ion-card-title>

           <span>({{produtosMercado?.length}})</span>
         </div>

        </ion-card>


      </div>

      <!--<div *ngSwitchCase="'Preços'" style="margin-bottom: 100%">-->

        <!--<ion-card *ngFor="let a of [1,2,2,2,2,2,2,2,2,2,2,2]">-->

          <!--<ion-item>-->
            <!--<ion-avatar item-start>-->
              <!--<img alt="img-produto" width="50px" height="50px" src="../../assets/imgs/farmer.jpeg"/>-->
            <!--</ion-avatar>-->
            <!--<h2>{{"Arroz"}}</h2>-->
            <!--<button ion-button color="primary" item-end>200 MZN </button>-->
          <!--</ion-item>-->

        <!--</ion-card>-->

      <!--</div>-->
    </div>
  </div>


        <button id="back-button" color="white" clear ion-button icon-only (click)="voltar()">
          <ion-icon name="arrow-back" icon-start></ion-icon>
        </button>

</ion-content>

