page-perfil-privado {

  .avatar{
    margin: auto;
    border-radius: 50%;

  }

  ion-grid {


    .profile-details{
      height: 50%;
      background-image: url('../../assets/imgs/start/start3.jpg');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }

    .btn_produto{
      padding: 10px;
    }


  }
}
