

<ion-card margin-top="20px">
  <ion-card-content>

    <ion-grid>
      <ion-row>
        <ion-col col-3>
          <div id="fotoAgricultor" text-center>
            HH
          </div>
        </ion-col>

        <ion-col col-9 padding-left="10px">
          <div>
            <h2 id="nome" ion-text>Herquiloide Hele</h2>
            <h2>Mercado: Zimpeto</h2>
            <h2>Telefone: +258 847005571</h2>
            <!--<h2>Media de Producao: 100 ton</h2>-->
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>


  </ion-card-content>
</ion-card>
