

<ion-card margin-top="20px">
  <ion-card-content>

    <ion-grid>
      <ion-row>
        <ion-col col-3>
          <div id="fotoAgricultor" text-center>
            {{getLetrasIniciais(revendedor.user.nome)}}
          </div>
        </ion-col>

        <ion-col col-9 padding-left="10px">
          <div>
            <h2 id="nome" ion-text>{{revendedor.user.nome}}e</h2>
            <h2>Mercado: Zimpeto</h2>
            <h2 *ngFor="let telefone of revendedor.telefones; let indice = index">
              <span *ngIf="indice<=1">Cell: {{telefone.designacao}}</span>
            </h2>
            <!--<h2>Media de Producao: 100 ton</h2>-->
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>


  </ion-card-content>
</ion-card>
