
<ion-header>


    <ion-toolbar color="secondary">
        <ion-buttons start>
          <button ion-button icon-only menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button>
        </ion-buttons>

        <ion-title>Produtos</ion-title>

        <ion-buttons end>
          <button ion-button icon-only item-end color="secondary" (click)="showSeachBar()">
            <ion-icon item-end name="search" color="light"></ion-icon>
          </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>


<ion-content>
  <ion-searchbar *ngIf="showSearch"
                 [showCancelButton]="true" (ionCancel)="hideSearchBar()" (ionInput)="getItems($event)">
  </ion-searchbar>

  <ion-fab right bottom>
    <button ion-fab color="blue"><ion-icon name="add"></ion-icon></button>
    <ion-fab-list side="top">
      <button ion-fab (click)="onClickRegistarUnidadeMedida()"><div class="label">Unidades Medida</div></button>
      <button ion-fab (click)="onClickRegistarCategorias()"><div class="label">Categorias</div></button>
      <button ion-fab (click)="onClickRegistarProdutos()"><div class="label">Produtos</div></button>
    </ion-fab-list>
  </ion-fab>


  <categoria-produtos (click)="onClickCardCategoria(categoria)" *ngFor="let categoria of categorias" [categoria]="categoria"></categoria-produtos>
</ion-content>
